* {
	margin: 0px;
	padding: 0px;
}
form {
	width: 200px;
	height: 300px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: #C9E5FF;
	padding: 10px;
	border: 1px solid black;
	font-family: sans-serif;
}
#res {
	width: calc(100% - 6px); 
	height: 50px; 
	font-size: 25px;
	justify-content: flex-end; 
	display: flex;
	align-items: center;
	background: #E5F2FF; 
	margin-bottom: 5px;
	padding-right: 5px;
	border: 1px solid black;
}
.opcoes {
	width: 100%;
	height: calc(100% - 55px);
	display: flex;
	padding: 0px;
	margin: 0px;
}
#numbers {
	flex: 70%;
	display: flex;
	flex-wrap: wrap;
}
#numbers .back {
	width: 100%;
	height: 25px;
	margin: 0 5px 5px 0;
	padding: 0px;
	font-size: 20px;
	border: 1px solid black;
	outline: none;
	background-color: transparent;
}

#numbers .button {
	width: 29%;
	height: 55px;
	border: 1px solid black;
	font-size: 17px;
	outline: none;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 0px;
	background-color: transparent; 	
}

#numbers .largerRow {
	/*width: 100%;*/
	width: 58%;
	height: auto;
}

#numbers .coma {
	width: 32%;
	height: auto;
}

#operators .button {
	width: 100%;
	height: 30px;
	border: 1px solid black;
	font-size: 17px;
	outline: none; 
	margin-bottom: 5px;
	padding: 0px;
	background-color: transparent; 
}
#operators .largerColumn {
	height: 65px; 
	font-weight: bold;
}

#operators {
	flex: 30%;
	display: flex;
	flex-direction: column;
	margin: 0px;
}
